---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section
    class="px-4 py-5 text-center flex items-center justify-center w-full my-6"
  >
    <img src="./404.gif" alt="404 Not Found" width="300" height="300" />
  </section>
</Layout>
