---
import { Github, Instagram, Linkedin } from "lucide-react";
---

<section id="hero" class="py-16 text-center">
  <div class="hero-content max-w-3xl mx-auto">
    <div class="flex items-center justify-center mb-6">
      <div class="glitch-wrapper">
        <img
          src="/github-me.jpeg"
          alt="Nishu Murmu"
          class="glitch-img h-40 w-40 rounded-full"
        />
        <img
          src="/real-me.jpg"
          alt="Nishu Murmu"
          class="glitch-img h-40 w-40 rounded-full"
        />
      </div>
    </div>
    <h2
      class="text-2xl md:text-2xl font-bold mt-6 text-[#1d1e20] dark:text-[#FFFDF6]"
    >
      Nishu Murmu
    </h2>
    <h4 class="mb-4 font-medium">
      Software Developer | Calisthenics Enthusiast | Cinephile
    </h4>
    <p class="text-md md:text-md mb-8 text-gray-600 dark:text-gray-300">
      23yr old guy, software developer specializing in browser extensions. Very
      passionate about linux, neovim, Calisthenics, chess, movies, shows, pop
      culture, philosophy, etc.
    </p>
    <div class="flex flex-col sm:flex-row gap-4 justify-center">
      <a
        href="https://github.com/nishu-murmu"
        class="cursor-pointer px-2.5 py-2 rounded-full dark:bg-[#282a2c] bg-[#ffffff]"
      >
        <Github class="h-8 w-8" />
      </a>
      <a
        href="https://www.instagram.com/_nishu_murmu_/"
        class="cursor-pointer px-2.5 py-2 rounded-full dark:bg-[#282a2c] bg-[#ffffff]"
      >
        <Instagram class="h-8 w-8" />
      </a>
      <a
        href="https://www.linkedin.com/in/nishu-murmu/"
        class="cursor-pointer px-2.5 py-2 rounded-full dark:bg-[#282a2c] bg-[#ffffff]"
      >
        <Linkedin class="h-8 w-8" />
      </a>
    </div>
  </div>
</section>
