---
import "../styles/global.css";
import Header from "./MainLayout/Header";
import Footer from "./MainLayout/Footer";
import RootLayout from "./MainLayout/RootLayout";
import Analytics from "@vercel/analytics/astro";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Nishu Murmu | _Gliches_</title>
    <Analytics />
  </head>
  <RootLayout client:load>
    <div id="container" class="min-h-screen flex flex-col">
      <Header client:load />
      <main class="flex-1 max-w-3xl mx-auto px-8 w-full">
        <slot />
      </main>
      <Footer client:load />
    </div>
  </RootLayout>
</html>
